= simple_form_for current_user, url: update_password_path, method: 'put', html: { class: 'form-horizontal' } do |f|
  = f.input :password_origin
  = f.input :password, label: '新密码'
  = f.input :password_confirmation
  .form-actions= f.submit '更新密码', class: 'btn btn-primary'