%h4= "#{action_name == 'unread' ? '未读提醒' : '已读提醒'}"
= render partial: 'shared/group_operation_tools', locals: { url: group_destroy_notifications_path }
- if @notifications.length > 0
  %table.table
    %thead
      %tr
        %th= check_box_tag :group_operation
        %th.count #
        %th 内容
        %th 操作
    %tbody
      - @notifications.each_with_index do |notification, index|
        %tr{:id => "notification_#{notification.id}", :class => "notification"}
          %td.group_operation= check_box_tag "thread_checkbox", notification.id
          %td= index + 1 + current_page
          %td= simple_format notification.content
          %td= link_to '删除', notification, method: :delete, remote: true, data: { confirm: '确定删除该提醒？' }
  - if action_name == 'index'
    .pagination= will_paginate @notifications
  - elsif action_name == 'unread' && @notifications.length >= 10
    .pagination
      %ul.pager
        %li.next= link_to '下一页', unread_notifications_path
- else
  .no_content 无内容