= link_to '返回', 'javascript:window.history.go(-1);', class: 'btn'
.center
  %h3= @message.title
  .message_info
    = "发件人：#{display_user_link(@message.sender, admin: true)}".html_safe
    - if @message.receiver_ids_string.include?(',')
      %span.receivers= "收件人：#{link_to "共#{@message.receiver_ids_string.split(',').count}人", '#', id: 'show_all_receivers', data: { ids: @message.receiver_ids_string }}".html_safe
    - else
      = "收件人：#{display_user_link(@message.receiver, admin: true)}".html_safe
    = "发送时间：#{@message.created_at.to_s(:db)}"
#all_receivers
#loading Loading...
.well= simple_format @message.content