.row
  .col-md-4
    = render partial: 'profiles/card', locals: { user: @user, tags: @user.tag_names }
    #buttons
      - if current_user && current_user != @user
        .watching_button= render partial: 'watch', object: @user
        .message_button= link_to '发送站内短信', new_message_path(receiver_name: @user.name), class: 'btn btn-warning btn-block'
  .col-md-8
    %h4= "#{@user.name} 所关注的人"
    #watchings= render partial: 'profiles/user', collection: @user.watchings
    %hr
    %h4= "关注 #{@user.name} 的人"
    #watchers= render partial: 'profiles/user', collection: @user.watchers