%h3 基本设置
= simple_form_for Settings, :as => :settings, :url => admin_home_path, :method => :put, html: { class: 'form-horizontal' } do |f|
  = f.input :app_name, label: '网站名称', input_html: { class: 'span4' }, hint: '网站名称'
  = f.input :domain, label: '网站域名', input_html: { class: 'span4' }, hint: '网站域名（例如：www.site.com）'
  = f.input :admin_email, label: '管理员邮箱', input_html: { class: 'span4' }, hint: '系统管理员邮箱（例如：admin@163.com）'
  = f.input :per_page_count, as: :integer, label: '分页数量', input_html: { class: 'span4' }, hint: '默认分页每页数量'
  = f.input :captcha_on, as: :boolean, label: '开启验证码', input_html: { class: 'span4' }, hint: '登陆或者注册时，是否开启验证码功能'
  = f.input :fail_count, as: :integer, label: '开启验证码安全次数', input_html: { class: 'span4' }, hint: '登陆或者注册失败超过该次数后，将开启验证码功能'
  = f.input :send_register_email, as: :boolean, label: '注册后发送邮件', input_html: { class: 'span4' }, hint: '该功能开启后，用户注册后会收到问候邮件'
  = f.input :sign_in_with_github, as: :boolean, label: 'Github登陆', input_html: { class: 'span4' }, hint: '该功能开启后，用户可通过Github登陆（需要配置）'
  = f.input :sign_in_with_qq, as: :boolean, label: 'QQ登陆', input_html: { class: 'span4' }, hint: '该功能开启后，用户可通过QQ登陆（需要配置）'
  = f.input :sign_in_with_weibo, as: :boolean, label: '新浪微博登陆', input_html: { class: 'span4' }, hint: '该功能开启后，用户可通过新浪微博登陆（需要配置）'
  .form-actions= f.submit '更改', class: 'btn btn-primary'
