%header.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to Settings.app_name, root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to '首页', root_path, class: 'active'
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          = render 'profiles/user_drop_menu'
          %li= link_to content_tag(:span, '后台管理'), admin_root_path if current_user.admin
          %li= link_to '退出', logout_path
        - else
          %li= link_to '登陆', login_path
          %li= link_to '注册', register_path
