!!!
%html
  %head
    %meta{charset: 'utf-8'}/
    %title Central Admin
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js", type: "text/javascript"}
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %body
    = render 'layouts/admin_navbar'
    #main.container
      #flash= display_flash
      .row
        .span2= render 'sidebar'
        .span10= yield
    = render 'layouts/footer'
